<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.ClientDao">
    <!-- 字段映射 -->
    <resultMap id="client" type="client">
        <id property="client_user" column="client_user"/>
        <result property="client_password" column="client_password"/>
        <result property="client_name" column="client_name"/>
        <result property="client_gender" column="client_gender"/>
        <result property="client_age" column="client_age"/>
        <result property="client_phone" column="client_phone"/>
        <result property="client_address" column="client_address"/>
        <result property="client_money" column="client_money"/>
    </resultMap>

    <select id="findByUserPassword" resultType="client">
        select * from client where client_user = #{user} and client_password = #{password}
    </select>

    <insert id="insert">
        insert into client(client_user,client_password,client_name,client_gender,client_age
            ,client_phone,client_address) values (#{client.client_user},#{client.client_password},#{client.client_name}
            ,#{client.client_gender},#{client.client_age},#{client.client_phone},#{client.client_address})
    </insert>

    <update id="update">
        update client set client_password=#{client.client_password},client_gender=#{client.client_gender},client_age=#{client.client_age}
            ,client_phone=#{client.client_phone},client_address=#{client.client_address} where client_user = #{client.client_user};
    </update>

    <delete id="deleteByUser">
        delete from client where client_user = #{client_user}
    </delete>

</mapper>