<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.DeviceDao">
    <resultMap id="device" type="device">
        <id property="device_number" column="device_number"/>
        <result property="client_user" column="client_user"/>
        <result property="device_type" column="device_type"/>
        <result property="device_point" column="device_point"/>
        <result property="device_producer" column="device_producer"/>
        <result property="device_durability" column="device_durability"/>
        <result property="device_create_date" column="device_create_date"/>
    </resultMap>

    <select id="findByUser" resultType="device">
        select * from device where client_user = #{user} limit #{start},#{count}
    </select>

    <update id="updateEmptyByUser">
       update device set client_user = "" where client_user = #{user}
    </update>

    <delete id="deleteByNumber">
        delete from device where device_number = #{number}
    </delete>

    <insert id="insert">
        insert into device(device_number,client_user,device_type,device_point,device_producer,device_durability,device_create_date)
            values (#{device.device_number},#{device.client_user},#{device.device_type},#{device.device_point},#{device.device_producer}
                ,#{device.device_durability},#{device.device_create_date})
    </insert>

    <select id="findByUserAndNumber" resultType="device">
        select device.* from device,client
        where device.client_user = client.client_user and
            device.client_user = #{user} and
            device.device_number = #{number}
    </select>

    <select id="findByUserAndType" resultType="device">
        select device.* from device,client
        where device.client_user = client.client_user and
            device.client_user = #{user} and
            device.device_type = #{type}
        limit #{start},#{count}
    </select>

    <select id="findByUserAndPoint" resultType="device">
        select device.* from device,client
        where device.client_user = client.client_user and
            device.client_user = #{user} and
            device.device_point = #{point}
        limit #{start},#{count}
    </select>

    <select id="findByUserAndProducer" resultType="device">
        select device.* from device,client
        where device.client_user = client.client_user and
            device.client_user = #{user} and
            device.device_producer = #{procedurer}
        limit #{start},#{count}
    </select>

    <select id="findByUserAndCreate" resultType="device">
        select device.* from device,client
        where device.client_user = client.client_user and
            device.client_user = #{user} and
            device.device_create_date = #{create}
        limit #{start},#{count}
    </select>

    <select id="findByUserAndDurability" resultType="device">
        select device.* from device,client
        where device.client_user = client.client_user and
            device.client_user = #{user} and
            device.device_durability = #{durability}
        limit #{start},#{count}
    </select>

</mapper>