<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.WaterBillDao">
    <!-- 字段映射 -->
    <resultMap id="waterBill" type="waterBill">
        <!-- property实体类  column表字段-->
        <id property="water_bill_number" column="water_bill_number"/>
        <result property="device_number" column="device_number"/>
        <result property="water_price_gradient" column="water_price_gradient"/>
        <result property="water_price_update_date" column="water_price_update_date"/>
        <result property="water_bill_init_value" column="water_bill_init_value"/>
        <result property="water_bill_now_value" column="water_bill_now_value"/>
        <result property="water_bill_r_dw" column="water_bill_r_dw"/>
        <result property="water_bill_output_date" column="water_bill_output_date"/>
        <result property="water_bill_fee" column="water_bill_fee"/>
        <result property="water_bill_pay_date" column="water_bill_pay_date"/>
    </resultMap>

    <delete id="deleteByBillNumber">
        delete from waterBill where water_bill_number = #{bill_number}
    </delete>

    <insert id="insert">
        insert into waterBill(water_bill_number,device_number,water_price_gradient,water_price_update_date,water_bill_init_value,water_bill_now_value
            ,water_bill_r_dw,water_bill_output_date,water_bill_fee,water_bill_pay_date) values (#{bill.water_bill_number},#{bill.device_number},#{bill.water_price_gradient}
            ,#{bill.water_price_update_date},#{bill.water_bill_init_value},#{bill.water_bill_now_value
            },#{bill.water_bill_r_dw},#{bill.water_bill_output_date},#{bill.water_bill_fee},#{bill.water_bill_pay_date})
    </insert>

    <select id="findByUserAndBillNumber" resultType="waterBill">
        select waterbill.* from waterbill,device,client
        where device.client_user = client.client_user and
              waterbill.device_number = device.device_number and
              waterbill.water_bill_number = #{bill_number} and
              client.client_user = #{user}
        limit #{start},#{count}
    </select>

    <select id="findByUserAndDevice" resultType="waterBill">
        select waterbill.* from waterbill,device,client
        where device.client_user = client.client_user and
            waterbill.device_number = device.device_number and
            waterbill.device_number = #{device_number} and
            client.client_user = #{user}
        limit #{start},#{count}
    </select>

    <select id="findByUserAndGradient" resultType="waterBill">
        select waterbill.* from waterbill,device,client
        where device.client_user = client.client_user and
            waterbill.device_number = device.device_number and
            waterbill.water_price_gradient = #{gradient} and
            client.client_user = #{user}
        limit #{start},#{count}
    </select>

    <select id="findByUserAndUpdate" resultType="waterBill">
        select waterbill.* from waterbill,device,client
        where device.client_user = client.client_user and
            waterbill.device_number = device.device_number and
            waterbill.water_price_update_date = #{update} and
            client.client_user = #{user}
        limit #{start},#{count}
    </select>

    <select id="findByUserAndInit" resultType="waterBill">
        select waterbill.* from waterbill,device,client
        where device.client_user = client.client_user and
            waterbill.device_number = device.device_number and
            waterbill.water_bill_init_value = #{init} and
            client.client_user = #{user}
        limit #{start},#{count}
    </select>

    <select id="findByUserAndNow" resultType="waterBill">
        select waterbill.* from waterbill,device,client
        where device.client_user = client.client_user and
            waterbill.device_number = device.device_number and
            waterbill.water_bill_now_value = #{now} and
            client.client_user = #{user}
        limit #{start},#{count}
    </select>

    <select id="findByUserAndOutput" resultType="waterBill">
        select waterbill.* from waterbill,device,client
        where device.client_user = client.client_user and
            waterbill.device_number = device.device_number and
            waterbill.water_bill_output_date = #{output} and
            client.client_user = #{user}
        limit #{start},#{count}
    </select>

    <select id="findByUserAndFee" resultType="waterBill">
        select waterbill.* from waterbill,device,client
        where device.client_user = client.client_user and
            waterbill.device_number = device.device_number and
            waterbill.water_bill_fee = #{fee} and
            client.client_user = #{user}
        limit #{start},#{count}
    </select>


    <select id="findByUserAndPay" resultType="waterBill">
        select waterbill.* from waterbill,device,client
        where device.client_user = client.client_user and
            waterbill.device_number = device.device_number and
            waterbill.water_bill_pay_date = #{pay} and
            client.client_user = #{user}
        limit #{start},#{count}
    </select>

    <select id="findByUser" resultType="waterBill">
        select waterbill.* from waterbill,device,client
        where device.client_user = client.client_user and
            waterbill.device_number = device.device_number and
            client.client_user = #{user}
        limit #{start},#{count}
    </select>



</mapper>