<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.WaterPriceDao">
    <!-- 字段映射 -->
    <resultMap id="waterPrice" type="waterPrice">
        <!-- property实体类  column表字段-->
        <id property="water_price_gradient" column="water_price_gradient"/>
        <id property="water_price_update_date" column="water_price_update_date"/>
        <result property="admin_user" column="admin_user"/>
        <result property="water_price_maximum" column="water_price_maximum"/>
        <result property="water_price_dw" column="water_price_dw"/>
        <result property="water_price_unit_price" column="water_price_unit_price"/>
    </resultMap>

    <select id="select" resultType="waterPrice">
        select * from waterPrice
    </select>
    
    <select id="selectLimit" resultType="waterPrice">
        select * from waterPrice limit #{start},#{count};
    </select>

</mapper>