<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.WaterPriceDao">
    <!-- 字段映射 -->
    <resultMap id="waterPrice" type="waterPrice">
        <!-- property实体类  column表字段-->
        <id property="water_price_gradient" column="water_price_gradient"/>
        <id property="water_price_update_date" column="water_price_update_date"/>
        <result property="admin_user" column="admin_user"/>
        <result property="water_price_maximum" column="water_price_maximum"/>
        <result property="water_price_dw" column="water_price_dw"/>
        <result property="water_price_unit_price" column="water_price_unit_price"/>
    </resultMap>

    <select id="findAll" resultType="waterPrice">
        select * from waterPrice
    </select>
    
    <select id="findWithLimit" resultType="waterPrice">
        select * from waterPrice limit #{start},#{count};
    </select>

    <delete id="deleteByGD">
        delete from waterPrice where water_price_gradient = #{gradient} and water_price_update_date = #{update_date}
    </delete>

    <insert id="insert">
        insert into waterPrice(water_price_gradient,water_price_update_date,admin_user,water_price_maximum,water_price_dw
            ,water_price_unit_price) values (#{price.water_price_gradient},#{price.water_price_update_date},#{price.admin_user}
            ,#{price.water_price_maximum},#{price.water_price_dw},#{price.water_price_unit_price})
    </insert>

    <select id="findByGradient" resultType="waterPrice">
        select * from waterprice
        where water_price_gradient = #{gradient}
        limit #{start},#{count}
    </select>

    <select id="findByUpdate" resultType="waterPrice">
        select * from waterprice
        where water_price_update_date = #{update}
        limit #{start},#{count}
    </select>

    <select id="findByAdmin" resultType="waterPrice">
        select * from waterprice
        where admin_user = #{admin}
        limit #{start},#{count}
    </select>

    <select id="findByMaximum" resultType="waterPrice">
        select * from waterprice
        where water_price_maximum = #{maximum}
        limit #{start},#{count}
    </select>

    <select id="findByDw" resultType="waterPrice">
        select * from waterprice
        where water_price_dw = #{dw}
        limit #{start},#{count}
    </select>

    <select id="findByUnit" resultType="waterPrice">
        select * from waterprice
        where water_price_unit_price = #{unit}
        limit #{start},#{count}
    </select>

    <update id="update">
        update waterprice set admin_user=#{waterPrice.admin_user},water_price_maximum=#{waterPrice.water_price_maximum},water_price_dw=#{waterPrice.water_price_dw}
                            ,water_price_unit_price=#{waterPrice.water_price_unit_price}
        where water_price_gradient = #{waterPrice.water_price_gradient}
            and water_price_update_date = #{waterPrice.water_price_update_date}
    </update>

</mapper>